---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<li>
  <a
    href={url}
    title={title}
    class="group bg-card/80 backdrop-blur-2xl p-2 rounded-2xl shadow-massive ring-white/10 ring-1 flex flex-col h-full justify-between">
    <article class="flex-1 h-full flex flex-col">
      <div class="block w-full lg:col-span-2">
        <img
          class="aspect-[384/246] object-cover bg-center h-full rounded-2xl"
          src={image}
          alt={title}
        />
      </div>
      <div
        class="flex flex-col items-start justify-between flex-1 w-full mt-4 p-4">
        <div class="w-full">
          <div>
            <p class="text-lg font-display text-white lg:text-xl">{title}</p>
          </div>
          <p class="mt-2 text-sm text-vanta-600 line-clamp-3">
            {description}
          </p>
        </div>
        <footer>
          <div class="inline-flex text-white space-x-1 items-center mt-6">
            <p class="text-xs">
              {author}
            </p>
            <span aria-hidden="true">&middot;</span>
            <div class="flex text-xs">
              <time datetime="2020-03-16"> {pubDate}</time>
            </div>
          </div>
        </footer>
      </div>
    </article>
  </a>
</li>
