---
const { name, url, description, avatar, role, intro } = Astro.props;
---

<li
  class="bg-card/80 backdrop-blur-2xl p-8 rounded-2xl shadow-massive ring-white/10 ring-1 flex flex-col h-full justify-between">
  <div>
    <div class="inline-flex items-center gap-4 w-full">
      <div
        class="rounded-full ring-1 ring-vanta-800 h-16 w-16 inline-flex items-center">
        <img
          class="inline-block w-12 h-12 mx-auto shrink-0"
          src={avatar}
          alt={description}
        />
      </div>
      <div>
        <p class="text-lg font-display text-white lg:text-xl">
          {name}
        </p>
        <p class="text-xs font-display text-vanta-300">
          {role}
        </p>
      </div>
    </div>
    <p class="mt-8 text-sm text-vanta-300">
      {intro}
    </p>
  </div>
  <div class="inline-flex mt-12 justify-between items-center gap-4 w-full pt-2">
    <a
      href={url}
      title={description}
      class="rounded-lg px-4 py-2 text-xs font-normal transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-8 ring-1 ring-inset ring-white/10 w-full">
      View {name}'s' profile
    </a>
  </div>
</li>
