---
import { events } from "../../data/events.json";
---

<section class="relative overflow-hidden">
  <div
    class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56 lg:pb-12">
    <div class="text-left sm:text-center">
      <p
        class="text-3xl font-medium font-display tracking-tight text-transparent pb-2 sm:text-5xl bg-gradient-to-r from-vanta-100 via-vanta-300 to-vanta-500 bg-clip-text">
        Join us at our<span class="lg:block"> upcoming events</span>
      </p>
      <p class="max-w-md mx-auto mt-4 text-vanta-300">
        A unique experience in exploring brand & identity design
      </p>
    </div>
    <ul
      class="grid grid-cols-1 relative lg:grid-cols-3 mt-12 list-none gap-2 ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20"
      role="list">
      {
        events.map((template) => (
          <>
            <li class="bg-card/80 backdrop-blur-2xl p-8 rounded-2xl shadow-massive ring-white/10 ring-1 flex flex-col h-full justify-between">
              <div>
                <div class="inline-flex justify-between items-start gap-4 w-full">
                  <p class="text-lg mt-2 font-display text-white lg:text-xl">
                    {template.title}
                  </p>
                </div>
                <div class="flex flex-col  mt-8  gap-2 w-full">
                  <div>
                    <span class="inline-flex gap-2 items-center rounded-md bg-vanta-800 px-2 py-1 text-xs text-white ring-1 ring-inset ring-white/10">
                      {template.time}
                    </span>
                  </div>
                  <div>
                    <p class="inline-flex gap-2 items-center rounded-md  text-xs text-white">
                      {template.address}
                    </p>
                  </div>
                </div>
                <p class="mt-8 text-sm text-vanta-300">
                  {template.description}
                </p>
              </div>
              <div class="mt-12 flex">
                <a
                  href={template.url}
                  class="rounded-lg px-4 py-2 justify-between text-sm transition-all flex items-center  text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10 w-auto">
                  Enroll today
                </a>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
