---
const pricingTiers = [
  {
    price: "$29",
    name: "Basic",
    description: "For individuals",
    benefits: [
      "Access to Free Course Content",
      "No Certificate",
      "1 Month Access to Materials",
      "Forum Support",
    ],
    registerLink: "/register",
    buttonClass:
      "rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10",
  },
  {
    price: "$99",
    name: "Pro",
    description: "For medium-sized businesses",
    benefits: [
      "Full Access to Course Content",
      "Certificate upon Completion",
      "Lifetime Access to Materials",
      "Email Support",
    ],
    registerLink: "/register-pro",
    buttonClass:
      "flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500",
  },
  {
    price: "$129",
    name: "Business",
    description: "For massive companies",
    benefits: [
      "Full Access to Course Content",
      "Certificate upon Completion",
      "Lifetime Access to Materials",
      "Priority Email Support",
    ],
    registerLink: "/register-business",
    buttonClass:
      "rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56">
    <div class="text-center">
      <h1
        class="pb-2 text-4xl font-normal tracking-tight text-transparent bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text font-display lg:text-6xl">
        Choose your plan
      </h1>
      <p class="max-w-md mx-auto mt-4 text-vanta-300">
        Explore our flexible pricing tiers and find the perfect plan that suits
        your learning journey and needs.
      </p>
    </div>
    <div class="relative grid grid-cols-1 gap-2 mt-12 lg:grid-cols-3">
      <div
        class="absolute inset-x-0 justify-center w-32 mx-auto rounded-lg opacity-50 bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 lg:w-96 lg:h-96 blur-3xl">
      </div>
      {
        pricingTiers.map((tier) => (
          <div class="relative flex flex-col p-2 ring-white/10 ring-1 rounded-3xl bg-gradient-to-t from-white/20">
            <div class="h-full p-8 bg-card/80 backdrop-blur-2xl rounded-2xl shadow-massive ring-white/10">
              <div class="inline-flex items-center justify-between w-full mt-5 text-3xl text-white">
                <span class="font-display">{tier.price}</span>
                <span>{tier.name}</span>
              </div>
              <p class="mt-8 text-base text-white">{tier.description}</p>
              <ul
                role="list"
                class="flex flex-col order-last mt-8 text-sm text-vanta-300 gap-y-3">
                {tier.benefits.map((benefit) => (
                  <li class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 icon icon-tabler icon-tabler-discount-check"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      {/* SVG paths */}
                    </svg>
                    <span class="ml-4">{benefit}</span>
                  </li>
                ))}
              </ul>
              <div class="mt-8">
                <a
                  class={`${tier.buttonClass}`}
                  aria-label={`${tier.name} tier`}
                  href={tier.registerLink}>
                  Get started
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    </div>
</section>
