---
import { courses } from "../../data/courses.json";
---

<section>
  <div
    class="absolute bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 -top-64 w-32 lg:w-96 lg:h-96 opacity-50 rounded-lg mx-auto inset-x-0 blur-3xl justify-center">
  </div>
  <div
    class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56 lg:pb-12">
    <div class="text-center">
      <h1
        class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 lg:text-6xl">
        Explore our diverse<span class="lg:block"> course offerings</span>
      </h1>
      <p class="max-w-xs mx-auto mt-4 text-vanta-300">
        Embark on a learning journey tailored to your interests and goals
      </p>
      <div class="flex flex-wrap items-center justify-center mt-8">
        <div>
          <label class="sr-only" for="search">Quick search</label><div
            class="relative flex items-center">
            <input
              class="w-full h-10 px-4 py-2 placeholder-vanta-300 duration-200 ring-1 ring-inset border-transparent ring-white/10 rounded-lg appearance-none bg-card focus:border-vanta-300 focus:outline-none focus:ring-vanta-300 sm:text-sm text-white lock pr-14"
              id="search"
              name="search"
              type="text"
            /><div class="flex absolute inset-y-0 pr-1.5 py-1.5 right-0">
              <kbd
                class="items-center inline-flex border-vanta-200 font-sans px-0.5 rounded text-white text-xs"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul
      class="grid grid-cols-1 relative lg:grid-cols-2 mt-12 list-none gap-2 ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20"
      role="list">
      {
        courses.slice(0, 8).map((template) => (
          <>
            <li class="bg-card/80 backdrop-blur-2xl p-8 rounded-2xl shadow-massive ring-white/10 ring-1 flex flex-col h-full justify-between">
              <div>
                <div class="inline-flex justify-between items-start gap-4 w-full">
                  <p class="text-white text-2xl">
                    <span>{template.pricing}</span>
                  </p>
                  <div class="order-first">
                    <span class="inline-flex items-center rounded-md bg-vanta-800 px-2 py-1 text-xs text-white ring-1 ring-inset ring-white/10">
                      {template.tag}
                    </span>
                    <p class="text-lg mt-2 font-display text-white lg:text-xl">
                      {template.title}
                    </p>
                  </div>
                </div>
                <div class="inline-flex  mt-8 items-center gap-2 w-full">
                  <div>
                    <span class="inline-flex gap-2 items-center rounded-md bg-vanta-800 px-2 py-1 text-xs text-white ring-1 ring-inset ring-white/10">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-school h-4 w-4"
                        viewBox="0 0 24 24"
                        stroke-width="1.25"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                      </svg>
                      <span>{template.teacher}</span>
                    </span>
                  </div>
                  <div>
                    <p class="inline-flex gap-2 items-center rounded-md px-2 py-1 text-xs text-white">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-star fill-white"
                          width="12"
                          height="12"
                          viewBox="0 0 24 24"
                          stroke-width="1.25"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                      </span>
                      <span>{template.rating}</span>
                    </p>
                  </div>
                </div>

                <p class="mt-8 text-sm text-vanta-300">
                  {template.description}
                </p>
              </div>
              <div class="mt-12">
                <a
                  href={template.url}
                  class="rounded-lg px-4 py-2 justify-between text-sm transition-all flex items-center  text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10">
                  Enroll today <span>{template.pricing}</span>
                </a>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
