---
import { courses } from "../../data/courses.json";
---

<section class="relative overflow-hidden">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <p
        class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-6xl">
        Explore our most <span class="lg:block">popular courses</span>
      </p>
      <p class="text-vanta-300 mt-4 max-w-sm mx-auto">
        Dive into courses loved by learners worldwide
      </p>
      <div class="flex mt-8 justify-center mx-auto">
        <a
          href="/courses/all-courses-one"
          class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
          >See all our courses</a
        >
      </div>
    </div>
    <div class="relative">
      <img
        class="absolute blur-3xl w-96 inset-x-0 mx-auto h-96 -mt-8"
        src="/avatars/avatar1.svg"
        alt=""
      />
      <ul
        class="grid grid-cols-1 mt-12 list-none md:grid-cols-3 gap-2 lg:mt-24 relative ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20"
        role="list">
        {
          courses.slice(0, 3).map((template) => (
            <>
              <li class="bg-card/80 backdrop-blur-2xl p-8 rounded-2xl shadow-massive ring-white/10 ring-1 flex flex-col h-full justify-between">
                <div>
                  <div class="inline-flex justify-between items-center gap-4 w-full">
                    <div>
                      <img
                        class="inline-block w-24 h-24 rounded-full  ring-1 ring-vanta-800 shrink-0"
                        src={template.avatar}
                        alt={template.description}
                      />
                    </div>
                    <div class="order-first">
                      <span class="inline-flex items-center rounded-md bg-vanta-800 px-2 py-1 text-xs text-white ring-1 ring-inset ring-white/10">
                        {template.tag}
                      </span>
                      <p class="text-lg mt-2 font-display text-white lg:text-xl">
                        {template.title}
                      </p>
                    </div>
                  </div>
                  <div class="inline-flex  mt-8 items-center gap-2 w-full">
                    <div>
                      <span class="inline-flex gap-2 items-center rounded-md bg-vanta-800 px-2 py-1 text-xs text-white ring-1 ring-inset ring-white/10">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-school h-4 w-4"
                          viewBox="0 0 24 24"
                          stroke-width="1.25"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                          <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                        </svg>
                        <span>{template.teacher}</span>
                      </span>
                    </div>
                    <div>
                      <p class="inline-flex gap-2 items-center rounded-md px-2 py-1 text-xs text-white">
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-star fill-white"
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            stroke-width="1.25"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                          </svg>
                        </span>
                        <span>{template.rating}</span>
                      </p>
                    </div>
                  </div>

                  <p class="mt-8 text-sm text-vanta-300">
                    {template.description}
                  </p>
                </div>

                <div class="inline-flex mt-24 justify-between items-center gap-4 w-full pt-2">
                  <div>
                    <p class="text-white text-2xl">
                      <span>{template.pricing}</span>
                    </p>
                  </div>
                  <div>
                    <a
                      href={template.url}
                      class="rounded-lg px-4 py-2 text-xs font-normal transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-8 ring-1 ring-inset ring-white/10">
                      Enroll Now
                    </a>
                  </div>
                </div>
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </div>
</section>
