---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <section>
    <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
      <div
        class="ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20 max-w-3xl mx-auto">
        <div
          class="bg-card/80 backdrop-blur-2xl p-8 rounded-2xl shadow-massive ring-white/10 ring-1">
          <div class="flex flex-col lg:flex-row justify-between w-full gap-12">
            <img
              class="lg:Bw-32 h-32 rounded-xl object-cover mt-12"
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
            />
            <div class="mt-4">
              <div class="sm:inline-flex space-x-1 w-full">
                <p class="text-white text-xs">
                  Written by: {frontmatter.author}
                </p><span aria-hidden="true">·</span><div class="flex text-xs">
                  <time datetime={frontmatter.pubDate}
                    >{frontmatter.pubDate.toString().slice(0, 10)}</time
                  >
                </div>
              </div>
              <p
                class="bg-gradient-to-r uppercase from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-3xl font-normal font-display tracking-tight pb-2">
                {frontmatter.title}
              </p>
              <p class="text-sm mt-2 text-vanta-300 max-w-xl">
                <em>{frontmatter.description}</em>
              </p>
              <ul class="flex flex-wrap gap-2 mt-4" role="list">
                {
                  frontmatter.tags.map((tag) => (
                    <a href={`/tags/${tag}`}>
                      <li
                        class=" rounded-lg text-xs px-4 py-1
                      transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-6 ring-1 ring-inset ring-white/10">
                        {tag}
                      </li>
                    </a>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="prose-styles max-w-3xl mx-auto mt-12">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
