---
const pageSections = [
  {
    sectionTitle: "All pages",
    categories: [
      {
        categoryName: "Landing pages",
        links: [
          {
            label: "Landing One",
            href: "/landings/one",
            title: "link to your page",
          },
          {
            label: "Landing Two",
            href: "/landings/two",
            title: "link to your page",
          },
          {
            label: "Landing Three",
            href: "/landings/three",
            title: "link to your page",
          },
          {
            label: "About",
            href: "/infopages/about",
            title: "link to your page",
          },
          { label: "FAQ", href: "/infopages/faq", title: "link to your page" },
          {
            label: "Download",
            href: "/forms/download",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "Forms",
        links: [
          {
            label: "Contact",
            href: "/forms/contact",
            title: "link to your page",
          },
          {
            label: "Sign In",
            href: "/forms/signin",
            title: "link to your page",
          },
          {
            label: "Sign Up",
            href: "/forms/signup",
            title: "link to your page",
          },
          {
            label: "Password",
            href: "/forms/password",
            title: "link to your page",
          },
          {
            label: "Coming soon",
            href: "/forms/coming-soon",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "Pricing",
        links: [
          {
            label: "Pricing simple",
            href: "/pricing/pricing-simple",
            title: "link to your page",
          },
          {
            label: "Pricing tiers",
            href: "/pricing/pricing-tiers",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "System pages",
        links: [
          {
            label: "Style guide",
            href: "/system/styleguide",
            title: "link to your page",
          },
        ],
      },
    ],
  },
  {
    sectionTitle: "Content Collections",
    categories: [
      {
        categoryName: "Blog utilities",
        links: [
          {
            label: "Blog home One",
            href: "/blog/blog-one",
            title: "link to your page",
          },
          { label: "Blog Post", href: "/posts/1", title: "link to your page" },
          { label: "Tag index", href: "/tags", title: "link to your page" },
          { label: "Tag Category", href: "/tags", title: "link to your page" },
          { label: "RSS", href: "/rss.xml", title: "link to your page" },
        ],
      },
      {
        categoryName: "Events",
        links: [
          {
            label: "Home",
            href: "/events/home",
            title: "link to your page",
          },
          {
            label: "Details",
            href: "/events/1",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "School",
        links: [
          {
            label: "Courses home one",
            href: "/courses/home-one",
            title: "link to your page",
          },
          {
            label: "Courses home two",
            href: "/courses/home-two",
            title: "link to your page",
          },
          {
            label: "Courses home three",
            href: "/courses/home-three",
            title: "link to your page",
          },
          {
            label: "Courses details",
            href: "/courses/1",
            title: "link to your page",
          },
          {
            label: "Purchased Course",
            href: "/courses/purchased-course",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "Teachers",
        links: [
          {
            label: "Home",
            href: "/teachers/home",
            title: "link to your page",
          },
          {
            label: "Details",
            href: "/teachers/1",
            title: "link to your page",
          },
        ],
      },
      {
        categoryName: "Utility pages",
        links: [
          {
            label: "DPA",
            href: "/infopages/terms",
            title: "link to your page",
          },
          {
            label: "Terms of use",
            href: "/infopages/terms",
            title: "link to your page",
          },
          {
            label: "Privacy policy",
            href: "/infopages/privacy",
            title: "link to your page",
          },
          {
            label: "Cookies",
            href: "/infopages/cookies",
            title: "link to your page",
          },
          { label: "404", href: "/404", title: "link to your page" },
        ],
      },
    ],
  },
];
---
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-32">
    <h1 class="text-4xl font-semibold tracking-tighter text-white font-display">
      Overview
    </h1>
    <div class="mt-12 space-y-24">
      {
        pageSections.map((section) => (
          <div>
            <p class="text-2xl font-semibold tracking-tighter text-white font-display">
              {section.sectionTitle}
            </p>
            <ul
              role="list"
              class="grid grid-cols-1 gap-10 mt-16 lg:grid-cols-4">
              {section.categories.map((category) => (
                <li>
                  <p class="text-xl font-normal tracking-tight text-white font-display">
                    {category.categoryName}
                  </p>
                  <ol
                    role="list"
                    class="mt-4 space-y-1 tracking-tight">
                    {category.links.map((link) => (
                      <li>
                        <a
                          class="text-sm text-vanta-400 hover:text-white"
                          aria-label={link.title}
                          title={link.title}
                          href={link.href}>
                          {link.label}
                        </a>
                      </li>
                    ))}
                  </ol>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
